@import 'tailwindcss';

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.5744 0.1838 261.18);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  /* --popover: oklch(1 0 0); */
  /* --popover-foreground: oklch(0.145 0 0); */
  --popover: var(--muted);
  --popover-foreground: var(--foreground);
  --base-unit: max(0.5px, 1 / 1800 * 100vw);
  --padding: calc(var(--base-unit) * 40);
  --aspect-ratio-w: 8.5;
  --aspect-ratio-h: 11;
  --theme-red: oklch(0.6192 0.1945 30.09);
  --theme-green: oklch(0.6193 0.0993 167.63);
  --theme-blue: oklch(0.5744 0.1838 261.18);
  --theme-yellow: oklch(0.834 0.1285 80.28);
  --theme-orange: oklch(0.7645 0.145 40.35);
  --theme-pink: oklch(0.8287 0.0991 357.6);
  --theme-primary: oklch(0.8108 0.2243 143.63);
  --theme-secondary: oklch(0.977 0.0155 86.42);
  --theme-tertiary: oklch(0.9225 0.0482 72.23);
  --theme-quaternary: oklch(0.8473 0.0361 258.87);
  --theme-quinary: oklch(0.8748 0.0304 139.1);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.5744 0.1838 261.18);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
}

@theme inline {
  --font-default:
    -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto;
  --font-sans: var(--font-geist-sans);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-theme-red: var(--theme-red);
  --color-theme-green: var(--theme-green);
  --color-theme-blue: var(--theme-blue);
  --color-theme-yellow: var(--theme-yellow);
  --color-theme-orange: var(--theme-orange);
  --color-theme-pink: var(--theme-pink);
  --color-theme-primary: #cee9eb;
  --color-theme-secondary: #fef8dd;
  --color-theme-tertiary: #cee9eb;
  --color-theme-primary: #cee9eb;
  --color-theme-secondary: #F8B993;
  --color-theme-tertiary: #CA8578;
  /* --color-theme-primary: #C8F879; */
  /* --color-theme-tertiary: #C8C5B5; */
  /* --color-theme-secondary: #24231E; */
  --color-theme-quaternary: var(--theme-quaternary);
  --color-theme-quinary: var(--theme-quinary);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --tracking-widest: 0.15em;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--accordion-panel-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--accordion-panel-height);
    }
    to {
      height: 0;
    }
  }
}

@source inline('bg-theme-red bg-theme-green bg-theme-blue bg-theme-yellow bg-theme-orange bg-theme-pink');

@utility animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}

@utility animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0c0d;
    --foreground: #ffffff;
  }
} */

html {
  background-color: var(--color-theme-primary);
}

body {
  font-family: var(--font-sans);
  color: var(--foreground);
  background-color: var(--background);
}

/* remove number input spinners */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* align date input calendar icon */

input[type='date']::-webkit-calendar-picker-indicator {
  margin-right: 10px;
}

/* template */

.template-edit:not(.bleed) {
  position: relative;
  width: 100%;
  height: 100%;
}

.template-edit:not(.bleed) .template-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  container: card / size;
  container-name: card;
}

.template-edit:not(.bleed) .template-view {
  position: absolute;
  top: 0;
  left: calc(50cqw - 100cqh * 0.36364);
  display: flex;
  flex-direction: column;
  width: 72.727cqh;
  height: 100cqh;
  justify-content: center;
  padding: calc(var(--padding) * 2);
}

@container (max-aspect-ratio: 8 / 11) {
  .template-edit:not(.bleed) .template-view {
    top: calc(50cqh - 68.75cqw);
    left: 0px;
    width: 100cqw;
    height: 137.5cqw;
  }
}

.template-preview {
  position: relative;
  display: grid;
  place-items: center;
  aspect-ratio: var(--aspect-ratio-w) / var(--aspect-ratio-h);
  background-color: transparent;
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  transition-property: background-color;
  transition-timing-function: var(
    --tw-ease,
    var(--default-transition-timing-function)
  );
}

.template-edit:not(.bleed) .template-preview {
  overflow: hidden;
}

.template-preview .render {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--aspect-ratio-w) * 100px);
  height: calc(var(--aspect-ratio-h) * 100px);
  transform-origin: 0 0;
}

.template {
  --gap: 0.5cm;
  --gap-items: 0.05cm;
  --padding: 1cm;
  --padding-header: 0.2cm;
  display: grid;
  gap: var(--gap);
  height: 100%;
  padding: var(--padding);
  font-size: 16px;
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  transition-property: background-color;
  transition-timing-function: var(
    --tw-ease,
    var(--default-transition-timing-function)
  );
}

.template-items {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-items);
  text-align: left;
}

.template-items-header {
  padding-top: var(--padding-header);
  padding-bottom: var(--padding-header);
}

.template-items-row {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(2, 1fr);
}

.template-items-price {
  display: grid;
  grid-template-columns: 80px 1fr 1fr;
  gap: var(--gap);
  text-align: right;
}

.template-totals-line {
  display: grid;
  gap: var(--gap);
  grid-template-columns: 1fr min-content;
}

/* template areas */

.area-logo {
  grid-area: logo;
}

.area-from {
  grid-area: from;
}

.area-to {
  grid-area: to;
}

.area-info {
  grid-area: info;
}

.area-notes {
  grid-area: notes;
}

.area-footer {
  display: grid;
  grid-area: footer;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'items items items items' '. . totals totals';
  gap: var(--gap);
  border-top: 1px solid;
}

.area-items {
  grid-area: items;
}

.area-totals {
  grid-area: totals;
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-items);
  padding-top: var(--padding-header);
}

/* template themes */

#base {
  --gap-items: 0.15cm;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 'logo . . .' 'from from from info' '. . . .' 'to to notes notes' 'footer footer footer footer' 'footer footer footer footer';
  padding-right: calc(var(--padding) * 2);
}

#base .area-from {
  font-size: 24px;
  line-height: 1.375;
}

#base .area-totals {
  border-top: 1px solid;
}

/* #theme-2 {
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 'logo . . .' 'from from to to' 'number number number number' 'info note note note' 'items items items items' 'recap recap recap recap';
} */

#micro {
  grid-template-areas:
    'logo . . .'
    'from from to to'
    '. . info info'
    'items items items items'
    '. . notes notes'
    'totals totals totals totals';
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content 1fr 1fr 1fr 1fr 1fr;
  font-size: 12px;
}

#micro .area-totals .template-totals-line {
  grid-template-columns: 1fr 1fr;
}

/* sonner */

[data-sonner-toaster] {
  --border-radius: var(--rounded-lg);
  font-family: var(--font-sans);
}

[data-sonner-toast][data-styled='false'] {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 1.5);
  width: var(--width);
  padding: calc(var(--spacing) * 4);
  font-size: var(--text-sm);
  color: var(--foreground);
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* [data-sonner-toast][data-expanded='true']::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: calc(var(--gap) + 1px);
} */
/*
[data-sonner-toast][data-styled='false'] [data-description] {
  font-weight: 400;
  line-height: 1.4;
  color: #3f3f3f;
}

[data-rich-colors='true'][data-sonner-toast][data-styled='false']
  [data-description] {
  color: inherit;
}

[data-sonner-toaster][data-sonner-theme='dark'] [data-description] {
  color: hsl(0, 0%, 91%);
}

[data-sonner-toast][data-styled='false'] [data-title] {
  font-weight: 500;
  line-height: 1.5;
  color: inherit;
}

[data-sonner-toast][data-styled='false'] [data-icon] {
  display: flex;
  height: 16px;
  width: 16px;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  margin-left: var(--toast-icon-margin-start);
  margin-right: var(--toast-icon-margin-end);
}

[data-sonner-toast][data-styled='false'] [data-icon] > * {
  flex-shrink: 0;
}

[data-sonner-toast][data-styled='false'] [data-icon] svg {
  margin-left: var(--toast-svg-margin-start);
  margin-right: var(--toast-svg-margin-end);
}

[data-sonner-toast][data-styled='false'] [data-content] {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

[data-sonner-toast][data-styled='false'] [data-button] {
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  height: 24px;
  font-size: 12px;
  color: var(--normal-bg);
  background: var(--normal-text);
  margin-left: var(--toast-button-margin-start);
  margin-right: var(--toast-button-margin-end);
  border: none;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  transition:
    opacity 400ms,
    box-shadow 200ms;
}

[data-sonner-toast][data-styled='false'] [data-button]:focus-visible {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4);
}

[data-sonner-toast][data-styled='false'] [data-button]:first-of-type {
  margin-left: var(--toast-button-margin-start);
  margin-right: var(--toast-button-margin-end);
}

[data-sonner-toast][data-styled='false'] [data-cancel] {
  color: var(--normal-text);
  background: rgba(0, 0, 0, 0.08);
}

[data-sonner-toaster][data-sonner-theme='dark']
  [data-sonner-toast][data-styled='false']
  [data-cancel] {
  background: rgba(255, 255, 255, 0.3);
}

[data-sonner-toast][data-styled='false'] [data-close-button] {
  position: absolute;
  left: var(--toast-close-button-start);
  right: var(--toast-close-button-end);
  top: 0;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: var(--gray12);
  background: var(--normal-bg);
  border: 1px solid var(--gray4);
  transform: var(--toast-close-button-transform);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  transition:
    opacity 100ms,
    background 200ms,
    border-color 200ms;
}

[data-sonner-toast][data-styled='false'] [data-close-button]:focus-visible {
  box-shadow:
    0px 4px 12px rgba(0, 0, 0, 0.1),
    0 0 0 2px rgba(0, 0, 0, 0.2);
}

[data-sonner-toast][data-styled='false'] [data-disabled='true'] {
  cursor: not-allowed;
}

[data-sonner-toast][data-styled='false']:hover [data-close-button]:hover {
  background: var(--gray2);
  border-color: var(--gray5);
}

[data-sonner-toast][data-expanded='false'][data-front='false'][data-styled='false']
  > * {
  opacity: 0;
} */
